/*Body*/
  body {
  background-image: url("../images/blue-boardwalk.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
}

/*img*/
img.yahoo {
  width: 58px;
  height: 58px;
}

/*top*/
.top {
  display: flex;
}

/*form*/
form {
  width: 100%;
}

/*input*/
input[type=text] {
   height:53px;
   width: 100%;
   color: black;
 }
/*date*/
.date {
  text-align: right;
  border-bottom: 1px solid white;
  padding-right: 10px;
}
/*tagline*/
.tagline {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 150px;
  margin-right: 150px;
  font-size: 100px;
  color: black;
}
